.details {
    margin-left: 30px;
    flex: 20PX;
    text-align: left;
}

.details_title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.details_list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.details_list li {
    margin: 10px 0;
}